/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

body {
  grid-template-columns: repeat(5, 20%);
  display: grid;
  overflow-x: hidden;
  margin: 0 auto 0 auto;
  max-width: 1500px;
  height: 100%;
  min-height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #cbcede;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.hamburger {
  position: fixed;
  z-index: 30;
  top: 27px;
  left: 27px;
  border: 2px solid #000;
  width: 35px;
  height: auto;
  cursor: pointer;
}

.hamburger.top {
  background-color: #ffee35;
}

.hamburger.bottom {
  background-color: #e6523e;
}

header,
main {
  max-width: 1500px;
}

header,
.header-content,
.header-subtitle,
h1,
main,
footer,
.footer-content,
.footer-bg,
nav,
article,
h2,
.news-picture-container,
.news-text {
  box-sizing: border-box;
  grid-column: 1/6;
  display: grid;
}

header {
  position: relative;
  align-items: start;
  margin: 0 0 150px 0;
  font-size: 1em;
  color: #fff;
}

.header-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 65px;
  background: repeating-linear-gradient(
    135deg,
    #ffee35,
    #ffee35 30px,
    #000 30px,
    #000 60px
  );
}

.header-content {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  left: 10px;
  border: 3px solid #fff;
  height: 110px;
  background-color: #000;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.header-subtitle {
  font-size: 1.15em;
}

h1 {
  margin: 0.8em auto 0 auto;
  height: 0.8em;
  font-size: 2em;
  text-transform: uppercase;
}

nav {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

nav.nav-horizontal ul {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2 {
  margin: 0 0 1em 0;
  padding: 0;
}

article {
  filter: drop-shadow(3px 3px 2px rgba(50, 50, 0, 0.5));
}

.article-content {
  margin: 0 10px 8% 10px;
  padding: 20px;
  background-color: #fff;
}

.news-picture-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.news-picture-container:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: inset 0 0 150px 60px rgba(0,0,0,0.8);
  border-radius: 50%;
  width: 150%;
  padding: 0 0 100% 0;
}

.news-picture {
  display: block;
  width: 100%;
}

footer {
  position: relative;
  align-items: end;
  margin: 125px 0 0 0;
  font-size: 1em;
  color: #fff;
}

.footer-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 65px;
  background: repeating-linear-gradient(
    135deg,
    #e6523e,
    #e6523e 30px,
    #000 30px,
    #000 60px
  );
}

.footer-content {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: 110px;
  border: 3px solid #fff;
  background-color: #000;
  text-align: center;
}