/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

body {
  grid-template-columns: repeat(5, 20%);
  display: grid;
  overflow-x: hidden;
  margin: 0 auto 0 auto;
  max-width: 1500px;
  height: 100%;
  min-height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #cbcede;
  font-size: 21px;
}

header,
.header-content,
main,
footer,
.footer-content,
nav,
div,
section,
article {
  box-sizing: border-box;
}

header,
main {
  max-width: 1500px;
  margin: 0;
}

header,
.header-content,
main,
footer,
.footer-content,
nav {
  grid-column: 1/6;
  display: grid;
}

header {
  position: relative;
  height: 200px;
  font-size: 1.6em;
  color: #fff;
}

.header-bg {
  position: relative;
  height: 50%;
  background: repeating-linear-gradient(
    135deg,
    #ffee35,
    #ffee35 30px,
    #000 30px,
    #000 60px
  );
  font-size: 1.6em;
  color: #fff;
}

.header-content {
  position: absolute;
  top: 20px;
  bottom: 50px;
  left: 20px;
  right: 20px;
  border: 5px solid #fff;
  background-color: #000;
  text-align: center;
}

h1 {
  grid-column: 1/6;
  margin: 0.5em auto 0 auto;
  height: auto;
  font-size: 1.7em;
}

nav {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

nav.nav-horizontal ul {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2 {
  margin: 0 0 1em 0;
  padding: 0;
}

article {
  filter: drop-shadow(3px 3px 3px rgba(50, 50, 0, 0.5));
  min-height: 400px;
}

.article-content {
  grid-column: 2/6;
  margin: 0 1em 1em 1em;
  padding: 20px;
  min-height: 400px;
  background-color: #fff;
}

.article-content.odd {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.article-content.even {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.news-picture-container {
  position: relative;
  grid-column: 2/4;
  overflow: hidden;
}

.news-picture-container:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: inset 0 0 150px 60px rgba(0,0,0,0.8);
  border-radius: 50%;
  width: 150%;
  padding: 0 0 100% 0;
}

.news-picture-container.left {
  float: left;
  margin: 0 1em 1em 0;
}

.news-picture-container.right {
  float: right;
  margin: 0 0 1em 1em;
}

.news-picture {
  display: block;
  width: 100%;
  max-width: 350px;
  height: 100%;
}

footer {
  position: relative;
  margin: 0;
  height: 200px;
  font-size: 1.6em;
  color: #fff;
}

.footer-bg {
  position: relative;
  z-index: 0;
  align-self: end;
  height: 50%;
  background: repeating-linear-gradient(
    135deg,
    #e6523e,
    #e6523e 30px,
    #000 30px,
    #000 60px
  );
  font-size: 1.6em;
  color: #fff;
}

.footer-content {
  position: absolute;
  z-index: 1;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: 5px solid #fff;
  background-color: #000;
  text-align: center;
}