/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

body {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  border: 1px solid #ccc;
  font-size: 15px;
}

header,
main,
footer,
nav,
div,
section,
article {
  border: inherit;
}

header,
main,
footer,
nav {
  display: grid;
  grid-column: 1/6;
}

nav {
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

nav.nav-horizontal ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

nav.nav-vertical {
  grid-column: 1/2;
}

nav.nav-vertical ul {
  list-style: none;
}

article {
  grid-column: 2/6;
}